<h3>Decimal Pipe</h3>
<form [formGroup]="myForm">
  <div class="grid p-1">Value: {{ myForm.value | json }}</div>
  <hr />
  <div class="grid">
    <div class="col">
      <span class="p-float-label mr-6">
        <input
          id="someNumber"
          type="number"
          pInputText
          placeholder="someNumber"
          formControlName="someNumber"
          class="mr-3"
          (change)="transformDecimal(getControl('someNumber'))"
        />
        <label for="someNumber" class="pr-1">Number</label>
      </span>
    </div>
  </div>
</form>
